body {
  background-color: #f5f7fa;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

thead {
  background-color: #343a40;
  color: white;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

tbody tr:hover {
  background-color: #e9ecef;
}

.card {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  margin-top: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0-1)
}
img {
  border-radius: 8px;
}

@media (max-width:600px) {
  .container {
    width: 95%;
  }
  
  h1 {
    font-size: 22px;
  }

  .card {
    padding: 10px;
  }

  img {
    max-width: 100%;
  }

}